extends layout

block content
  section.super-container.logout
    <div class="box">
      <div class="grid"></div>

      <div class="button-container">
        <button class="synthwave-button">Synthwave</button>
        <div class="holographic-display">
          <div class="holographic-text">SYSTEM ACTIVATED</div>
          <div class="waveform">
            <div class="waveform-bar"></div>
            <div class="waveform-bar"></div>
            <div class="waveform-bar"></div>
            <div class="waveform-bar"></div>
            <div class="waveform-bar"></div>
            <div class="waveform-bar"></div>
            <div class="waveform-bar"></div>
            <div class="waveform-bar"></div>
          </div>
        </div>
      </div>
    </div>
  script(type="module", src="/scriptCatchMe.js")
